.git

# Ignorar archivos temporales del sistema
*.log
*.tmp

# Ignorar archivos de Python cache
__pycache__/
*.pyc

# Ignorar entornos virtuales
venv/
.env/
*.env

# Ignorar archivos relacionados con IDEs
.vscode/
.idea/

# Ignorar archivos de construcción
build/
dist/

# Ignorar archivos de configuración locales
.DS_Store

.venv