# Archivos generados por macOS
.DS_Store

# Archivos temporales o de sistema
Thumbs.db
.idea/
*.swp
*.swo
*.log

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
build/
dist/

# Archivos de editores
.vscode/
*.sublime-project
*.sublime-workspace

# Entornos virtuales
.venv
.conda
.env

# Archivos específicos de Docker
.dockerignore
Dockerfile

# Archivos de configuración de entorno
.env_ejemplo

# Archivos de checkpoints de Jupyter (si los usas)
*.ipynb_checkpoints



../../fdd_o24/