# Entornos virtuales
venv/
envs/
*.env

# Archivos de configuración sensibles
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de log y temporales
*.log
*.tmp
.DS_Store

# Archivos de configuración de IDEs
.vscode/
.idea/
